<!DOCTYPE html>
<html>
<title>Advisory for COVID-19</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>


<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
      <h1 align="center"> <font color="red"> {{ prediction_text }} </h1>
  <h1><font color="white"> <u>India Fights Against Corona</u></h1>
  <h4 class="w3-xxlarge w3-animate-bottom">Advisory for Coronavirus Disease (COVID-19)</h4>

  </div>
</header>


<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:500px">
  <h3><font color="black"><u>Personal Hygiene Habits</u></h3><br>
  <p>- Wash your hands regularly with soap and water or with an alchol-based sanitizer for 20 seconds.</p>
  <p>- Avoid touching your eyes, nose and mouth. </p>
  <p>- Clean and disinfect frequently used objects such as mobile phones, keys, wallets and work passes.</p>
  <p>- Seek medical help if you feel unwell(fever, difficult breathing and cough). While visiting doctor wear a mask/cloth to cover your mouth and nose.</p>
  <p>- Follow guidelines given by the Ministry of AYUSH for boosting your immunity. </p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:500px">
  <h3><u>Hygiene Habits in Community</u></h3><br>
  <p>- Avoid physical contact while greeting,like handshakes etc.</p>
  <p>- Cover your mouth while coughing or sneezing with a flexed elbow or disposable tissue.</p>
  <p>- Maintain social distancing. Keep at least 3 feet(1 mtr) distance with anyone.</p>
  <p>- Avoid contact with anyone that has a fever and cough.</p>
  <p>- Do not spit in public areas.</p>
  <p>- Clean and disinfect frequently used surfaces such as benchtops, desks and doorknobs.</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:500px">
  <h3><u>Hygiene Habits while Shopping Essentials</u></h3><br>
  <p>- Use a cloth mask to cover your nose and mouth while you go out.</p>
  <p>- Keep at least 3 feet distance from other, sanitize handles of shopping trollies and baskets before shopping.</p>
  <p>- Wash your hands once you reach home and also after handling and storing purchased products.</p>
  <p>- Wash fruits and vegetables thoroughly with clean running water, especially we you eat them raw. </p>
  <p>- Also wash your hands regularly after touching frequently-touched objects like coins and banknotes. Use digital transactions as much as you can.</p>
  </div>
</div>
</div>


<div class="w3-padding-32" align='center'>
      <button id="mohfw" class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" style="font-weight:900;">Ministry of Health and Family Welfare</button>
          <script type="text/javascript">
          document.getElementById("mohfw").onclick = function () {
          location.href = "https://www.mohfw.gov.in/";
          };
</script>
</div>



</body>
</html>
