<!DOCTYPE html>
<html>
<title>Advisory for COVID-19</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>


<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h4 align="center"> <font color="white">1 - Low Severity &ensp;&ensp;&ensp;&ensp;&ensp; 2 - Medium Severity &ensp;&ensp;&ensp;&ensp;&ensp; 3 - High Severity </h4>
  <h1 align="center"> <font color="red"> {{ prediction_text }} </h1>
  <h4 class="w3-xxlarge w3-animate-bottom"> <font color="white">Advisory for Coronavirus Disease (COVID-19)</h4>

  </div>
</header>


<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:420px">
  <h3><font color="black"><u>For Risk Level - 1</u></h3><br>
  <p>- Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water.</p>
  <p>- Maintain at least 3 feet(1 mtr) distance between yourself and anyone who is coughing or sneezing.</p>
  <p>- Avoid touching eyes, nose and mouth</p>
  <p>- Make sure you and people around yous follow good respiratory hygiene.</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:420px">
  <h3><u>For Risk Level - 2</u></h3><br>
  <p>- Avoid any kind of exposure and self-isolate by staying at home if you feel unwell, even mild symptoms (such as headache, low grade fever) and slight runny nose, until you recover. </p>
  <p>- Self-monitor signs of illness and report to the Medical Officer immediately if any symptoms develop.</p>
  <p>- Keep up-to-date on the latest COVID-19 hotspots. If possible, avoid traveling to places </p>
  <p>- For any technical enquiry with respect to COVID-19, email on technicalquery.covid19@gov.in.</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:420px">
  <h3><u>For Risk Level - 3</u></h3><br>
  <p>- Do not self-medicate with any medicines, including antibiotics, as a prevention or cure for COVID-19</p> 
  <p>- Seek medical help if you feel unwell(fever, difficulty in breathing and cough). While visiting doctor, wear a mask/cloth to cover your mouth and nose.</p>
  <p>- Call State helpline number or Ministry of Health Family Welfare’s 24X7 helpline at 011-23978046 or 1075(Toll Free) and follow the instructions.</p>
  <p>- List of labs (Govt. & Private) can be accessed at: icmr.nic.in. </p>
  </div>
</div>
</div>








<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:500px">
  <h3><font color="black"><u>Personal Hygiene Habits</u></h3><br>
  <p>- Wash your hands regularly with soap and water or with an alchol-based sanitizer for 20 seconds.</p>
  <p>- Avoid touching your eyes, nose and mouth. </p>
  <p>- Clean and disinfect frequently-used objects such as mobile phones, keys, wallets and work passes.</p>
  <p>- Seek medical help if you feel unwell(fever, difficult breathing and cough). While visiting doctor, wear a mask/cloth to cover your mouth and nose.</p>
  <p>- Follow guidelines given by the Ministry of AYUSH for boosting your immunity. </p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:500px">
  <h3><u>Hygiene Habits in Community</u></h3><br>
  <p>- Avoid physical contact while greeting,like handshakes, hugs, etc.</p>
  <p>- Cover your mouth while coughing or sneezing with a flexed elbow or disposable tissue.</p>
  <p>- Maintain social distancing. Keep at least 3 feet(1 mtr) distance with anyone.</p>
  <p>- Avoid contact with anyone that has fever or cough.</p>
  <p>- Do not spit in public areas.</p>
  <p>- Clean and disinfect frequently-used surfaces such as benchtops, desks, doorknobs, etc.</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:500px">
  <h3><u>Hygiene Habits while Shopping Essentials</u></h3><br>
  <p>- While you go out, use a cloth/mask to cover your nose and mouth.</p>
  <p>- Keep at least 3 feet distance from anyone and sanitize handles of shopping trollies & baskets before shopping.</p>
  <p>- Wash your hands after reaching home and also after handling & storing purchased products.</p>
  <p>- Wash fruits and vegetables properly with clean running water, especially when you eat them raw. </p>
  <p>- Wash hands regularly after touching frequently-touched objects like coins and currency-notes. Use digital modes of transaction wherever possible.</p>
  </div>
</div>
</div>





<div class="w3-padding-32" align='center'>
      <button id="mohfw" class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" style="font-weight:900;">Ministry of Health and Family Welfare</button>
          <script type="text/javascript">
          document.getElementById("mohfw").onclick = function () {
          location.href = "https://www.mohfw.gov.in/";
          };
</script>
</div>



</body>
</html>
