<!DOCTYPE html>
<html>
<title>Advisory for COVID-19</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>


<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h4 align="center"> <font color="white">1 - Low Severity &ensp;&ensp;&ensp;&ensp;&ensp; 2 - Medium Severity &ensp;&ensp;&ensp;&ensp;&ensp; 3 - High Severity </h4>
  <h1 align="center"> <font color="red"> {{ prediction_text }} </h1>
  <h4 class="w3-xxlarge w3-animate-bottom"> <font color="white">Advisory for CoronaVirus Disease (COVID-19)</h4>

  </div>
</header>


<div class="w3-row-padding w3-center w3-margin-top" style="width:100%; height: 430px">
<div class="w3-third">
  <div class="w3-card w3-container" style="float:left; margin: 1%;min-height:430px">
  <h3><font color="black"><u>For Risk Level - 1</u></h3><br>
  <p>- Clean your hands regularly & thoroughly with an alcohol-based hand rub or wash them with soap & water.</p>
  <p>- Maintain at least 3 feet(1 mtr) distance from anyone who is coughing or sneezing.</p>
  <p>- Avoid touching your eyes, nose and mouth.</p>
  <p>- Make sure you and your closed ones are following proper hygiene.</p>
  </div>
</div>

<div class="w3-third" >
  <div class="w3-card w3-container" style="float:left; margin: 1%;min-height:430px" >
  <h3><u>For Risk Level - 2</u></h3><br>
  <p>- Isolate yourself at home if you are feeling unwell or facing even mild symptoms like headache or low-grade fever. Stay indoors until you recover. </p>
  <p>- Self-monitor any signs of illness and report to the Medical Officer immediately, if any symptom develops.</p>
  <p>- Keep yourself updated regarding the latest COVID-19 hotspots. Kindly avoid travelling to those places. </p>
  <p>- For any technical query with respect to COVID-19, you may email on "technicalquery.covid19@gov.in".</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="float:left; margin: 1%;min-height:430px">
  <h3><u>For Risk Level - 3</u></h3><br>
  <p>- Avoid taking medicines without any doctor's prescription, as a prevention or cure for COVID-19.</p> 
  <p>- Seek medical help if you are feeling unwell. While visiting the doctor, wear a mask/cloth to cover your mouth & nose.</p>
  <p>- Call State helpline number or Ministry of Health and Family Welfare’s 24x7 helpline at 011-23978046 or 1075(Toll Free) and follow the instructions.</p>
  <p>- List of Labs (Govt. & Private) can be accessed at: "icmr.nic.in". </p>
  </div>
</div>
</div>








<div class="w3-row-padding w3-center w3-margin-top" style="width:100%; height: 550px" >
<div class="w3-third" >
  <div class="w3-card w3-container" style="float:left; margin: 1%;min-height:550px;background-color:powderblue">
  <h3><font color="black" ><u>Personal Hygiene Habits</u></h3><br>
  <p>- Wash your hands regularly with soap & water or with an alchol-based sanitizer for 20 seconds.</p>
  <p>- Avoid touching your eyes, nose and mouth. </p>
  <p>- Clean and disinfect frequently-used objects such as mobile phones, keys, wallets and work passes.</p>
  <p>- Seek medical help if you feel unwell(fever, difficulty in breathing, cough, etc.). While visiting the doctor, wear a mask/cloth to cover your mouth & nose.</p>
  <p>- Follow guidelines given by the Ministry of AYUSH for boosting your immunity. </p>
  </div>
</div>

<div class="w3-third" >
  <div class="w3-card w3-container" style="float:left; margin: 1%;min-height:550px;background-color:powderblue">
  <h3><u>Hygiene Habits in Community</u></h3><br>
  <p>- Avoid physical contact with others like handshakes, hugs, etc.</p>
  <p>- Cover your mouth while coughing or sneezing with a flexed elbow or a disposable tissue.</p>
  <p>- Maintain social distancing. Keep at least 3 feet(1 mtr) distance with anyone.</p>
  <p>- Avoid contact with anyone who is having fever or cough.</p>
  <p>- Do not spit in public places.</p>
  <p>- Clean and disinfect frequently-used surfaces such as benchtops, desks, doorknobs, etc.</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="float:left; margin:2%;min-height:550px;background-color:powderblue">
  <h3><u>Hygiene Habits while Shopping Essentials</u></h3><br>
  <p>- While going out, use a cloth/mask to cover your nose & mouth.</p>
  <p>- Keep at least 3 feet(1 mtr) distance from anyone and sanitize the handles of baskets & trollies before shopping.</p>
  <p>- Wash your hands immediately after reaching home and also, after handling & storing purchased products.</p>
  <p>- Wash fruits and vegetables properly with clean running-water, especially before you eat them raw. </p>
  <p>- Wash your hands regularly after touching frequently-touched objects like coins and currency-notes. Wherever possible, use digital modes of transaction.</p>
  </div>
</div>
</div>
    
<br>
<div class="w3-padding-32" align='center'>
      <button id="mohfw" class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" style="font-weight:900;">Ministry of Health and Family Welfare (Government of India)</button>
          <script type="text/javascript">
          document.getElementById("mohfw").onclick = function () {
          location.href = "https://www.mohfw.gov.in/";
          };
</script>
</div>



</body>
</html>
