<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
<meta charset="UTF-8">
  <title>COVID - 19</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/cstyle.css') }}">
  
</head>

<body>
 <div class="login">
	<h2 align="center"> <font color="white"> <u>Predict Severity of CoronaVirus </u></font></h2>  

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <label for="Age>60" >Is your age greater than 60?&nbsp;&ensp;&nbsp;&ensp;&ensp;&ensp;&ensp;&ensp;&nbsp;&ensp;&nbsp;&ensp;&ensp;&ensp;&ensp;&ensp;&nbsp</label>
        <input type="text" name="Age>60" placeholder="Yes - 1 No - 0" required="required" /><br>
    	<label for="Previous_Chronic_Disease">Do you have any Previous Chronic Disease?&nbsp;</label> 
        <input type="text" name="Previous_Chronic_Disease" placeholder="Yes - 1 No - 0" required="required" /><br>
		<label for="Fever">Do you have Fever?&ensp;&ensp;&ensp;&ensp;&nbsp;&nbsp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</label>
		<input type="text" name="Fever" placeholder="Yes - 1 No - 0" required="required" /><br>
		<label for="Dry_Cough">Are you having Dry Cough?&nbsp&ensp;&nbsp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</label>
		<input type="text" name="Dry_Cough" placeholder="Yes - 1 No - 0" required="required" /><br>
		<label for="Fatigue">Are you feeling Fatigue?&nbsp;&ensp;&ensp;&nbsp&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</label>
		<input type="text" name="Fatigue" placeholder="Yes - 1 No - 0" required="required" /><br>
		<label for="Mucus_in_Throat ">Do you have Mucus in Throat?&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&nbsp;</label>
		<input type="text" name="Mucus_in_Throat" placeholder="Yes - 1 No - 0" required="required" /><br>
		<label for="Breathing_Problem">Are you experiencing Breathing Problem?&ensp;&ensp;&ensp;</label>
		<input type="text" name="Breathing_Problem" placeholder="Yes - 1 No - 0" required="required" /><br>
		<label for="Joint/Muscle_Pain">Do you have Joint/Muscle Pain?&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&nbsp;</label>
		<input type="text" name="Joint/Muscle_Pain" placeholder="Yes - 1 No - 0" required="required" /><br>
		<label for="Sore_Throat ">Are you feeling Sore Throat?&nbsp&nbsp&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</label>
		<input type="text" name="Sore_Throat" placeholder="Yes - 1 No - 0" required="required" /><br>
		<label for="Headache">Do you have Headache?&nbsp&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;&ensp;</label>
		<input type="text" name="Headache" placeholder="Yes - 1 No - 0" required="required" /><br>
		<label for="Shivering">Are you Shivering?&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;&nbsp</label>
		<input type="text" name="Shivering" placeholder="Yes - 1 No - 0" required="required" />
        <br><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        <p align="center">1 - Low Severity &ensp;&ensp;&ensp;&ensp;&ensp; 2 - Medium Severity &ensp;&ensp;&ensp;&ensp;&ensp; 3 - High Severity </p>

    </form>

  <h2 align="center"> {{ prediction_text }} </h2>

 </div>


</body>
</html>



